{% extends "base.html.twig" %}
{% block body %}
    <div>
        {% for track in tracks %}
            <div id="{{ track.uuid }}" class="alert alert-light ">
                <div class="d-flex flex-column-reverse flex-lg-row justify-content-between ">
                    <strong style="cursor: pointer; text-decoration: underline" onclick="play_track('{{ track.path }}')">{{ track.title }}</strong>

                    <div class="d-flex flex-row mb-3 mb-lg-0">
                        <button class="btn btn-success me-2">Save to Spotify</button>
                        <a class="btn btn-primary d-block me-2" href="/{{ track.path }}">Save to Device</a>
                        <a class="btn btn-danger d-block me-2" href="{{ path("app_remove_track", {"uuid": track.uuid}) }}">Remove</a>
                    </div>
                </div>
                <span>Downloaded @ {{ track.created|date("d/m/y I:i a") }}</span>
                <div id="control_container_{{ track.path }}"></div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        let playing = null;

        function play_track(path) {
            if (playing) {
                playing.remove()
            }
            playing = new Audio(path);
            playing.play();
            playing.classList.add("w-100");
            playing.classList.add("mt-4");
            playing.controls = true;
            document.getElementById("control_container_" + path).appendChild(playing);
        }
    </script>
{% endblock %}
